<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dataset upload page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="head">
        <a href="student_a.php"><span class="head-a">Teacher Dataset Upload Page</span></a>
        <span class="head-b" id="showbox"></span>

        <a href="{{ url_for('logout') }}">
            <div class="head-dd">Logout</div>
        </a>
    </div>

    <div class="login-container">
        <h2>選擇資料集並上傳</h2>
        <form method="post" enctype="multipart/form-data" action="{{ url_for('uploaddataset') }}">
            <input type="file" name="file" id="file">
            <button type="submit">上傳</button>
        </form>
        <br>
        <h2>排名結果</h2>
        <div id="error" class="error-message">123</div>
    </div>

</body>

</html>